{% extends 'base.html' %}
{% load static %}

{% block title %} Contact page  {% endblock title %}

{% block stylesheet %}
{% endblock stylesheet %}


{% block header%}
{% include 'navbar2.html' %}
{% endblock header%}

<!-- about header_body -->
{% block header_body %}
{% endblock header_body %}

<!-- about section -->
{% block about%}
{% endblock about%}

<!-- resume section -->
{% block resume %}
{% endblock resume %}

<!-- services section -->
{% block services %}
{% endblock services %}

<!-- project section -->
{% block project %}
{% endblock project %}

<!-- protfolio section -->
{% block protfolio %}
{% endblock protfolio %}


{% block main_contain %}
<section class="ftco-section contact-section ftco-no-pb" id="contact-section">
    <div class="container">
        <div class="row justify-content-center mb-5 pb-3">
            <div class="col-md-7 heading-section text-center ftco-animate">
                <h1 class="big big-2">Contact</h1>
                <h2 class="mb-4">Contact Me</h2>
                <p> {{ about_me.details }} </p>
            </div>
        </div>

        <div class="row d-flex contact-info mb-5">
            <div class="col-md-6 col-lg-3 d-flex ftco-animate">
                <div class="align-self-stretch box text-center p-4 shadow">
                    <div class="icon d-flex align-items-center justify-content-center">
                        <span class="icon-map-signs"></span>
                    </div>
                    <div>
                        <h3 class="mb-4">Address</h3>
                        <p> {{ about_me.address }} </p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 d-flex ftco-animate">
                <div class="align-self-stretch box text-center p-4 shadow">
                    <div class="icon d-flex align-items-center justify-content-center">
                        <span class="icon-phone2"></span>
                    </div>
                    <div>
                        <h3 class="mb-4">Contact Number</h3>
                        <p><a href="tel://1234567920"> {{ about_me.phone }} </a></p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 d-flex ftco-animate">
                <div class="align-self-stretch box text-center p-4 shadow">
                    <div class="icon d-flex align-items-center justify-content-center">
                        <span class="icon-paper-plane"></span>
                    </div>
                    <div>
                        <h3 class="mb-4">Email Address</h3>
                        <p><a href="mailto:info@yoursite.com"> {{ about_me.email }} </a></p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 d-flex ftco-animate">
                <div class="align-self-stretch box text-center p-4 shadow">
                    <div class="icon d-flex align-items-center justify-content-center">
                        <span class="icon-globe"></span>
                    </div>
                    <div>
                        <h3 class="mb-4">Website</h3>
                        <p><a href="#"> yoursite.com </a></p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row no-gutters block-9">
            <div class="col-md-6 order-md-last d-flex">
                <form action="" method="post" class="bg-light p-4 p-md-5 contact-form" id="DogForm">
                    {% csrf_token %}
                    {{ form.as_p}}
                    {{ form.error }}

                    <div class="form-group">
                        <input type="submit" id="submitBtn" value="Send Message" class="btn btn-primary py-3 px-5">
                    </div>
                </form>

            </div>

            <div class="col-md-6 d-none d-sm-block">
                <div class=" imgbgdiv ">
                    <div class="imgdiv ">
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

{% endblock main_contain %}

{% block script %}

{% endblock script %}