{% extends 'base.html' %}
{% load static %}

{% block title %} Portfolio Page  {% endblock title %}

{% block stylesheet %}
{% endblock stylesheet %}


{% block header%}
{% include 'navbar2.html' %}
{% endblock header%}

<!--  header_body -->
{% block header_body %}
{% endblock header_body %}

<!-- about section -->
{% block about%}
{% endblock about%}

<!-- resume section -->
{% block resume %}
{% endblock resume %}

<!-- services section -->
{% block services %}
{% endblock services %}

<!-- project section -->
{% block project %}
{% endblock project %}

<!-- protfolio section -->
{% block protfolio %}
{% include 'protfolio.html' %}
{% endblock protfolio %}


{% block main_contain %}
{% endblock main_contain %}

{% block script %}
{% endblock script %}