 <section class="ftco-about img ftco-section ftco-no-pt ftco-no-pb" id="about-section">
        <div class="container">
            <div class="row d-flex no-gutters">
                <div class="col-md-6 col-lg-6 d-flex">
                    <div class="img-about img d-flex ">
                        <div class="overlay"></div>
                         {% if about_me.image  %}
                        <div class="img d-flex align-self-stretch align-items-center" style="width:100%;maximum-height:600px;background-image:url({{ about_me.image.url }});">
                               {%endif%}
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-6 pl-md-5 py-5">
                    <div class="row justify-content-start pb-3">
                        <div class="col-md-12 heading-section ftco-animate">
<!--                            d-none d-sm-block d-md-none -->
                             {% if about_me.image  %}
                            <div class="col-12 atiqur_image_about">
                                <img class="" src="{{ about_me.image.url }}" style="width:400px;height:500px;">
                            </div>
                            <h1 class="big">About</h1>
                            <h2 class="mb-4">About Me</h2>
                            <p> {{ about_me.}} </p>
                            <ul class="about-info mt-4 px-md-0 px-2">
                                <li class="d-flex"><span>Name:</span> <span> {{ about_me.name }} </span></li>
                                <li class="d-flex"><span>Date of birth:</span> <span> {{ about_me.Date_of_birth }} </span></li>
                                <li class="d-flex"><span>Address:</span> <span> {{ about_me.address }} </span></li>
                                <li class="d-flex"><span>Zip code:</span> <span> {{ about_me.Zip_code }} </span></li>
                                <li class="d-flex"><span>Email:</span> <span> {{ about_me.email }} </span></li>
                                <li class="d-flex"><span>Phone: </span> <span>0{{ about_me.phone }} </span></li>
                            </ul>
                        </div>
                        {%endif%}
                    </div>
                    <div class="counter-wrap ftco-animate d-flex mt-md-3">
                        <div class="text">
                            <p class="mb-4">
                                  {% if about_me  %}
                                <span class="number" data-number="{{ about_me.total_project }}">0</span>
                                 {%endif%}
                                <span>Project complete</span>
                            </p>
                              {% if about_me  %}
                            <p><a href="{% url 'download_pdf' %}" target="_blank" class="btn btn-primary py-3 px-3">Download CV</a></p>
                            {%endif%}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


     <section class="ftco-section ftco-no-pt ftco-no-pb ftco-counter img" id="section-counter">
        <div class="container-fluid px-md-5">
            <div class="row d-md-flex align-items-center">
                <div class="col-md d-flex justify-content-center counter-wrap ftco-animate">
                    <div class="block-18 shadow">
                        <div class="text">
                             {% if about_me  %}
                            <strong class="number" data-number="{{ about_me.total_Awards }}">0</strong>
                            {%endif%}
                            <span>Awards</span>
                        </div>
                    </div>
                </div>
                <div class="col-md d-flex justify-content-center counter-wrap ftco-animate">
                    <div class="block-18 shadow">
                        <div class="text">
                            {% if about_me  %} 
                            <strong class="number" data-number="{{ about_me.total_project }}">0</strong>
                             {%endif%}
                            <span>Complete Projects</span>
                        </div>
                    </div>
                </div>
                <div class="col-md d-flex justify-content-center counter-wrap ftco-animate">
                    <div class="block-18 shadow">
                        <div class="text">
                              {% if about_me  %}
                            <strong class="number" data-number="{{ about_me.Happy_Customers }}">0</strong>
                             {%endif%}
                            <span>Happy Customers</span>
                        </div>
                    </div>
                </div>
                <div class="col-md d-flex justify-content-center counter-wrap ftco-animate">
                    <div class="block-18 shadow">
                        <div class="text">
                              {% if about_me  %}
                            <strong class="number" data-number="{{ about_me.project_pending }}">0</strong>
                             {%endif%}
                            <span> project pending </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
