{% extends 'base.html' %}
{% load static %}

{% block title %} Atiqur rahman {% endblock title %}

{% block stylesheet %}
<style>


.hero-wrap.js-fullheight {
    height: 160px !important;

}

.row.no-gutters.slider-text.js-fullheight.justify-content-center.align-items-category {
  height: 244px !important;
}


.btn.btn-primary {
    background: #3e64ff;
    border: 1px solid #3e64ff !important;
    color: #fff !important;
    margin-top: 10px;
    margin-left: 10px;
}
</style>
{% endblock stylesheet %}


{% block header%}
{% include 'navbar2.html' %}
{% endblock header%}

<!--  header_body -->
{% block header_body %}
{% endblock header_body %}


<!-- about section -->
{% block about%}
{% endblock about%}

<!-- resume section -->
{% block resume%}
{% endblock resume%}

<!-- services section -->
{% block services %}
{% endblock services %}


<!-- project section -->
{% block project %}
{% endblock project %}

<!-- protfolio section -->
{% block protfolio %}
{% endblock protfolio %}



{% block main_contain %}

 <div class="hero-wrap js-fullheight">
      <div class="container">
        <div class="row no-gutters slider-text js-fullheight justify-content-center align-items-category">
          <div class="col-lg-10 ftco-animate d-flex align-items-center">
          	<div class="text text-center">
          		<h3 class="mb-1 bread"> Single Post</h3>
	            <p class="breadcrumbs"><span class="mr-2"><a href="{%url 'home' %}">Home <i class="ion-ios-arrow-forward"></i></a></span> <span class="mr-2"><a href="blog.html">Blog <i class="ion-ios-arrow-forward"></i></a></span> <span>Blog Single <i class="ion-ios-arrow-forward"></i></span></p>
            </div>
          </div>
        </div>
      </div>
    </div>

<section class="ftco-section">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 ftco-animate">
            <h2 class="mb-3"> {{ single_post.title }}  </h2>
            <p>
              <img src="{{ single_post.image.url }} " alt="" class="img-fluid">
            </p>
                <p> {{ single_post.details }}</p>
          </div> <!-- .col-md-8 -->

          <div class="col-lg-4 sidebar ftco-animate">
            <div class="sidebar-box">
              <form action="{% url 'search' %}" method="post" class="search-form">
                  {% csrf_token %}
                <div class="form-group">
                  <span class="icon icon-search"></span>
                  <input type="text" name="q" class="form-control" placeholder="Search...">
                </div>

                 <div class="form-group ">
                      <button type="submit" class="btn btn-primary">Submit</button>
                  </div>

              </form>
            </div>
            <div class="sidebar-box ftco-animate">
            	<h3 class="heading-sidebar">Categories</h3>
              <ul class="categories">
                  {% for cat in category %}
                <li><a href="#"> {{ cat.name }}<span>( 10 )</span></a></li>
                  {% endfor %}

              </ul>
            </div>

            <div class="sidebar-box ftco-animate">
              <h3 class="heading-sidebar">Recent Blog</h3>
             {% for  re in resent_post %}
              <div class="block-21 mb-4 d-flex">
                <a class="blog-img mr-4" href="{% url 'single' id=re.id %}" style="background-image: url({{ re.image.url }});"></a>
                <div class="text">
                  <h3 class="heading"><a href="{% url 'single' id=re.id %}"> {{ re.title }} </a></h3>
                  <div class="meta">
                    <div><a href="{% url 'single' id=re.id %}"><span class="icon-calendar"></span>  {{ re.create_at }}</a></div>

                  </div>
                </div>
              </div>
                {% endfor  %}

            </div>
        </div>
      </div>
    </section> <!-- .section -->




  <!-- loader -->
  <div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00"/></svg></div>



  <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-23581568-13"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-23581568-13');
</script>

  </body>

</html>
{% endblock main_contain %}

{% block script %}
{% endblock script %}